extends layout/_base
block content 
    section
        .bg-gray-100.px-2.text-center
            .flex.flex-col.justify-center.items-center
                h1.text-8xl.font-extrabold.text-red-500 500
                p.text-4xl.font-medium.text-gray-800 Internal Server Error
                p.text-xl.text-gray-800.mt-4 We apologize for the inconvenience. Please try again later.
